/*.flex-container*/

.flex-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin: auto;
}

.par-cent {
    text-align: center;
  margin-bottom: 2%;
}

.ifra {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

input {
    padding: 1rem;
}

textarea {
    padding: 2rem;
}

h2 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.button {
    background-color: lightgray;
}

.infos {
    width: 50%;
    margin: auto;
    text-align: center;
}

.infos p {
    margin: 1%;
}

/*Quand l'écran est inférieur à 600 pixel*/
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    .flex-form {
        width: 100%;
    }

    .infos {
        width: 100%;
    }

    body {
        margin: 1%;
    }
}

/**/
