@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
/*Reset CSS*/
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button, input, select, textarea {
    margin: 0
}

html {
    box-sizing: border-box
}

*, *::before, *::after {
    box-sizing: inherit
}

img, video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

td:not([align]), th:not([align]) {
    text-align: left
}

@font-face {
    font-family: "Heina's hurry";
    src: url("../fonts/Heina_hurry.ttf");
}

p {
    font-family: 'Arial', serif;
    font-size: 1rem;
    text-align: justify;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    text-align: center;
}
hr {
    display: block;
    clear: both;
    height: 0;
    margin: 40px 0 80px;
    padding: 0;
    border: 0;
    font-family: arial;
    text-align: center;
    font-size: 60px;
    line-height: 1;
}

hr:after {
    content: "\2601 \2729 \2601";
    height: 0;
    letter-spacing: 1em;
    color: darkgreen;
}

.leBarBidule {
    margin-top: 17%;
    margin-left: 2%;
    margin-right: 2%;
}

.leBarBidule > p {
    text-align: center;
}

.titre_section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.img_titre_section {
    width: 200px;
    height: auto;
}

.sous_titre_section {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

/***
 Zone de code qui gère le reply
 ***/

div.spoiler {
    width: 100%;
    position: relative;
}

div.spoiler input.boutonAfficher, div.spoiler input.boutonMasquer {
    position: relative;
    top: -10px;
    left: 10px;
}

div.spoiler[data-isOuvert="false"] div.contenuSpoiler {
    display: none;
}

div.spoiler[data-isOuvert="false"] input.boutonMasquer {
    display: none;
}

div.spoiler[data-isOuvert="true"] input.boutonAfficher {
    display: none;
}

/***
 Décoration du bouton qui permet de dérouler l'article.
 ***/
.boutonAfficher {
    box-sizing: border-box;
    float: right;
    font-family: 'Patrick Hand SC', cursive;
    align-self: center;
    background: transparent;
    padding: 1rem 1rem;
    margin: 0 1rem;
    transition: all .5s ease;
    color: #41403E;
    font-size: 1.2rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    transform: scale(var(--ggs, 1));
}

.boutonAfficher::after,
.boutonAfficher::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px
}

.boutonAfficher::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px
}

/***
 Décoration du bouton qui permet de fermer l'article.
 ***/
.boutonMasquer {
    box-sizing: border-box;
    float: right;
    font-family: 'Patrick Hand SC', cursive;
    align-self: center;
    background: transparent;
    padding: 1rem 1rem;
    margin: 0 1rem;
    transition: all .5s ease;
    color: #41403E;
    font-size: 1.2rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    transform: scale(var(--ggs, 1));
}

.boutonMasquer::after,
.boutonMasquer::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px
}

.boutonMasquer::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px;
}

/***
 Zone de code qui gère le bouton avec un design "fait main".
 ***/
.bouton {
    font-family: 'Patrick Hand SC', cursive;
    align-self: center;
    background: transparent;
    padding: 1rem 1rem;
    margin: 0 1rem;
    transition: all .5s ease;
    color: #41403E;
    font-size: 2rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.bouton:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
}

#admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/***
 Zone de code qui gère les cartes (intervenants).
 ***/

.card {
    width: 400px; /*1*/
    height: auto;
    margin: 0px auto; /*2*/
    background-color: white; /*3*/
    box-shadow: 0px 5px 20px #999; /*4*/
}
.card a { /*5*/
    color: #333;
    text-decoration: none;
}
.card:hover .card-image img { /*6*/
    width: 160%;
    filter: grayscale(0);
}
.card-image {
    height: 250px;/*1*/
    position: relative;/*2*/
    overflow: hidden;/*3*/
}
.card-image img {
    width: 150%;/*4*/
    /*5 - Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(1);/*6*/
    /*7 - Transition */
    transition-property: filter width;
    transition-duration: .3s;
    transition-timing-function: ease;
}
.card-body {
    text-align:center;  /*1*/
    padding: 15px 20px; /*2*/
    box-sizing: border-box; /*3*/
}
.card-name {
    font-family: 'Source Sans Pro', sans-serif;
}

.card-title, .card-excerpt {
    font-family: 'Playfair Display', serif;
}

.card-name, .card-title {
    text-align:center;
    text-transform:uppercase;
    font-weight: bold;
}

.card-name, .card-excerpt {
    color: #777;
}
.card .buttonBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
}

/***
 Zone de code qui gère l'affichage lorsque la largeur de
 l'écran est superieure à 640 pixels.
 ***/

@media screen and (min-width: 640px) {
    .leBarBidule {
        margin-top: 0;
    }
/***
Zone de code qui gère le grid de la page d'accueil.
***/
    .leBarBidule{
        display: grid;
        grid-template-areas: "presentation presentation" "horaire prog" "evenement evenement";
        grid-gap: 10%;
    }
    .welcome{
        grid-area: presentation;
        width: 100%;
        padding: 10px;
    }
    .horaire{
        width: 100%;
        grid-area: horaire;
        border: solid darkgreen;
        padding: 10px;
    }
    .prog{
        width: 100%;
        grid-area: prog;
        border: solid darkgreen;
        padding: 10px;
    }
    .actu{
        width: 100%;
        grid-area: evenement;
        border: solid darkorange;
        padding: 10px;
    }
}

/* GRID TEST */

.wrapper {
    display: grid;
    grid-gap: 4px;
		grid-template-columns: 25vw 25vw 10vw 40vw;
		background-color: #fff;
		color: #444;
    height: 100vh;
	}

	.box {
        background: #fff;
		border-radius: 5px;
		padding: 20px;
		font-size: 150%;
	}

.box:nth-child(2) {
  background: #EFEE9A;
}
.box:nth-child(3) {
  background: #B3DAF2;
}
.box:nth-child(4) {
  background: #BD6667;
}
.box:nth-child(5) {
  background: #fff;
}
.box:nth-child(6) {
    background: #A36061;
}

	.a {
		grid-column: 1 / 3;
		grid-row: 1;
	}
	.b {
		grid-column: 3 / 5;
		grid-row: 1;
	}
	.c {
		grid-column: 1 / 3;
		grid-row: 2;
	}
	.d {
		grid-column: 3;
		grid-row: 2;
	}
	.e {
		grid-column: 4;
		grid-row: 2;
	}