@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
/*Reset CSS*/
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal
}

ul {
    list-style: none
}

button, input, select, textarea {
    margin: 0
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

/*noinspection CssInvalidPropertyValue*/
*, *::before, *::after {
    box-sizing: inherit;
}

img, video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0
}

td:not([align]), th:not([align]) {
    text-align: left
}

@font-face {
    font-family: "Heina's hurry";
    src: url("../fonts/Heina_hurry.ttf");
}

p {
    font-family: 'Arial', serif;
    font-size: 1rem;
    text-align: justify;
}

h1 {
    font-family: "Indie Flower", serif;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin: 1%;
}

h2 {
    font-family: acumin-pro, system-ui, sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

hr {
    height: 0.25rem;
    margin: auto;
    color: #fff;;
}

.decal {
    margin-top: 5%;
}

.titre_section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
}

.img_titre_section {
    width: 200px;
    height: auto;
}

.sous_titre_section {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: white;
    padding: 1rem;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
}

.contenuSpoiler > p {
    background-color: white;
    padding: 1rem;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    width: 80%;
    margin: auto;
}


/***
 Zone de code qui gère le reply
 ***/

div.spoiler {
    width: 100%;
    position: relative;
}

div.spoiler input.boutonAfficher, div.spoiler input.boutonMasquer {
    position: relative;
    top: -10px;
    left: 10px;
}

div.spoiler[data-isOuvert="false"] div.contenuSpoiler {
    display: none;
}

div.spoiler[data-isOuvert="false"] input.boutonMasquer {
    display: none;
}

div.spoiler[data-isOuvert="true"] input.boutonAfficher {
    display: none;
}

/***
 Décoration du bouton qui permet de dérouler l'article.
 ***/
.boutonAfficher {
    box-sizing: border-box;
    float: right;
    font-family: 'Patrick Hand SC', cursive;
    align-self: center;
    background: darkorange;
    padding: 1rem 1rem;
    margin: 0 1rem;
    transition: all .5s ease;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    transform: scale(var(--ggs, 1));
}
.boutonAfficher:hover{
    color: black;
}

.boutonAfficher::after,
.boutonAfficher::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px
}

.boutonAfficher::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px
}

/***
 Décoration du bouton qui permet de fermer l'article.
 ***/
.boutonMasquer {
    box-sizing: border-box;
    float: right;
    font-family: 'Patrick Hand SC', cursive;
    align-self: center;
    background: darkorange;
    padding: 1rem 1rem;
    margin: 0 1rem;
    transition: all .5s ease;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    transform: scale(var(--ggs, 1));
}
.boutonMasquer:hover{
    color: black;
}

.boutonMasquer::after,
.boutonMasquer::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px
}

.boutonMasquer::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px;
}

/***
 Zone de code qui gère le bouton avec un design "fait main".
 ***/
.bouton {
    font-family: 'Patrick Hand SC', cursive;
    align-self: center;
    background: transparent;
    padding: 1rem 1rem;
    margin: 0 1rem;
    transition: all .5s ease;
    color: #41403E;
    font-size: 2rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.bouton:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
}

#admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/***
 Zone de code qui gère les cartes (intervenants).
 ***/

.card {
    width: 400px; /*1*/
    height: auto;
    margin: 0 auto; /*2*/
    background-color: white; /*3*/
    box-shadow: 0 5px 20px #999; /*4*/
}


.card-body {
    text-align: center; /*1*/
    padding: 15px 20px; /*2*/
    box-sizing: border-box; /*3*/
}

.card-name {
    font-family: 'Source Sans Pro', sans-serif;
}

.card-title, .card-excerpt {
    font-family: 'Playfair Display', serif;
}

.card-name, .card-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.card-name, .card-excerpt {
    color: #777;
}

.card .buttonBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
}

/***
 Zone de code qui gère l'affichage lorsque la largeur de
 l'écran est superieure à 640 pixels.
 ***/

@media screen and (min-width: 640px) {
    .leBarBidule {
        margin-top: 0;
    }

    /***
    Zone de code qui gère le grid de la page d'accueil.
    ***/
    .wrapper {
        width: 100%;
        height: 45rem;
        display: grid;
        background-image: url("../img/index.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        grid-template-areas: ". ." "titre titre" ". ." "programmation restauration";
        grid-gap: 10%;
    }

    #resto {
        grid-area: restauration;
        width: 100%;
        z-index: 5;
    }

    #txt_resto {
        text-align: center;
        background-color: white;
        opacity: 0.9;
        align-self: center;
        padding: 1rem;
        width: 80%;
    }
    #txt_resto img{
        width: 30%;
    }
    #txt_resto a {
        text-decoration: none;
        color: #2f2f2f;
        font-family: 'Indie Flower', cursive;
        font-size: inherit;
    }

    .titre {
        grid-area: titre;
        width: 30%;
        height: auto;
        text-align: center;
        background-color: white;
        opacity: 0.9;
        z-index: 5;
        margin: auto;
        padding: 1rem;
    }

    .titre p {
        text-align: center;
    }

    #prog {
        grid-area: programmation;
        z-index: 5;
        background-color: white;
        box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
        width: 60%;
        margin: auto;
        opacity: 0.9;
        padding: 1rem;
    }

    #prog > h2 {
        text-align: center;
        font-family: 'Indie Flower', cursive;
        font-size: inherit;
    }

    #prog > p {
        text-align: center;
        font-family: 'Patrick Hand SC', cursive;
    }
    #prog  a{
        text-decoration: none;
        color: darkorange;
    }

    #actu {
        z-index: 5;
        width: 100%;
        margin: auto;
        font-family: 'Indie Flower', cursive;

    }

    .carte_actu {
        margin-top: 2%;
        width: 80%;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }


    .actu_image {
        width: 25%;
        background-color: white;
        align-self: center;
        margin: auto;
        padding: 0.5rem;
    }

    .actu_image > img {
        max-height: 10rem;
        justify-content: center;
    }

    .actu_card {
        background-color: white;
        text-align: center;
        align-self: center;
    }

    .actu_card p {
        text-align: center;
    }
    .actu-name a{
        color: darkorange;
        text-decoration: none;
    }
}

/******
    Section qui concerne l'upload de la programmation dans l'interface admin
 */
#main_prog{
    display: flex;
    flex-direction: column;
    margin-left: 25rem;
}
#prog_uplod{
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    margin-bottom: 5%;
}
#prog_uplod input{
    margin-bottom: 2%;
}
#prog_uplod h2{
    margin-bottom: 5%;
}
/* BODY */

/* FOOTER */

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    margin-top: 2%;
}

.footer > * {
    flex: 1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: 'American Typewriter', serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #F2D194;
    text-transform: capitalize;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav__title {
    font-weight: 400;
    font-size: 15px;
    color: black;
}

.footer address {
    font-style: normal;
    color: #999;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: #F2D194;
    border-radius: 100px;
    color: white;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: #F2D194;
}


.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}

.legal__links {
    display: flex;
    align-items: center;
}

.heart {
    color: #2f2f2f;
}

#logo__footer {
    width: 30%;
}


@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav > * {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
    }

    .footer__addr {
        flex: 1 0;
    }

    .footer__nav {
        flex: 2 0;
    }
}