@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

@font-face {
    font-family: "Heina's hurry", Serif;
    src: url("../fonts/Heina_hurry.ttf");
}

h1 {
    margin-bottom: 5%;
}

.carte ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carte1 {
    background-image: url(../img/surface-ardoise.jpg);
    box-shadow: 10px 5px 5px rgb(114, 111, 111);
    grid-area: carte;
    align-self: center;
    width: 20rem;
    height: auto;
    padding: 10px;
}

.carte1 h3 {
    font-family: "Heina's hurry", serif;
    color: #faebd7;
    font-size: 1.5em;
    text-align: center;
}

.carte1 p {
    color: whitesmoke;
    text-align: center;
}

.carte {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

input {
    width: 18rem;
}

textarea {
    width: 18rem;
    height: auto;
}

label {
    color: bisque;
}

/*
    Section qui s'occupe de la partie fiche intervenant
*/



@media screen and (max-width: 900px) {

}