@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

@font-face {
    font-family: "Heina's hurry", Serif;
    src: url("../fonts/Heina_hurry.ttf");
}

/*Reset CSS*/
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button, input, select, textarea {
    margin: 0
}

html {
    box-sizing: border-box
}

*, *::before, *::after {
    box-sizing: inherit
}

img, video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

td:not([align]), th:not([align]) {
    text-align: left
}

.container-restauration {
    width: 100%;
    display: grid;
    grid-template: 20% 20% 20% 20% 20%/ 25% 75%;
    grid-template-areas: "sideimg titre2" "sideimg carte" "sideimg carte" "sideimg carte" "sideimg carte";
    grid-gap: 10px;
}

.presentation-restauration {
    margin-left: 2%;
    font-family: 'Indie Flower', cursive;
    grid-area: titre2;
    justify-self: center;
}

.sideimg {
    display: flex;
    flex-direction: column;
    grid-area: sideimg;
    justify-content: space-between;
}


.container-restauration ul li {
    list-style: none;
    font-family: "Heina's hurry", serif;
    color: aliceblue;
}

.container-restauration ul p {
    text-align: center;
}

.container-restauration h3 {
    text-align: center;
}

/*
    Code mettant en style les ardoises.
*/
.carte {
    display: grid;
    grid-template-areas: "first first first" "second third fourth" "fifth fifth fifth";
    justify-content: space-around;
    height: 100%;
    grid-area: carte;
    align-content: center;
    grid-gap: 10px;
}

.carte1 {
    background-image: url(../img/surface-ardoise.jpg);
    box-shadow: 10px 5px 5px rgb(114, 111, 111);
    grid-area: first;
    padding: 10px;
}

.carte2 {
    background-image: url(../img/surface-ardoise.jpg);
    box-shadow: 10px 5px 5px rgb(114, 111, 111);
    grid-area: second;
    padding: 10px;
}

.carte3 {
    background-image: url(../img/surface-ardoise.jpg);
    box-shadow: 10px 5px 5px rgb(114, 111, 111);
    grid-area: third;
    padding: 10px;
}

.carte4 {
    background-image: url(../img/surface-ardoise.jpg);
    box-shadow: 10px 5px 5px rgb(114, 111, 111);
    grid-area: fourth;
    padding: 10px;
}

.carte5 {
    background-image: url(../img/surface-ardoise.jpg);
    box-shadow: 10px 5px 5px rgb(114, 111, 111);
    grid-area: fifth;
    padding: 10px;
}

.titre_menu {
    font-weight: bold;
    font-size: large;
    color: antiquewhite;
}

.container-restauration h2 {
    font-family: "Heina's hurry", serif;
    color: antiquewhite;
    margin-left: 2%;
    font-size: 2em;
    align-self: center;
}

.generale p {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
}


/*
    ------------------ SECTION ANNIVERSAIRE -----------------
*/


@media screen and (max-width: 900px) {
    .container-restauration {
        grid-template: auto auto auto / 100%;
        grid-template-areas: "titre2" "carte" "carte" "carte" "carte";

    }

    .sideimg {
        display: none;
    }

    .carte {
        display: grid;
        grid-template-areas: "first" "second" "third" "fourth" "fifth";
    }
}