<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link data-th-href="@{/css/defaut_text.css}" href="../static/css/defaut_text.css" media="all" rel="stylesheet"
          type="text/css"/>
    <title>Panel administrateur</title>
</head>
<body>
<h1>Bienvenue sur l'interface d'édition du Barbidule!</h1>
<br>
<section id="admin">
    <a class="bouton" th:href="@{/admin/menu}">Modifier le menu</a>
    <a class="bouton" th:href="@{/admin/intervenants}">Modifier les données concernant les intervenants</a>
    <a class="bouton" th:href="@{/}">Retourner à l'index</a>
</section>
</body>
</html>