<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link data-th-href="@{/css/restauration.css}" href="../static/css/restauration.css" media="all" rel="stylesheet"
          type="text/css"/>
    <link data-th-href="@{/css/header.css}" href="../static/css/header.css" media="all" rel="stylesheet"
          type="text/css"/>
    <link data-th-href="@{/css/defaut_text.css}" href="../static/css/defaut_text.css" media="all" rel="stylesheet"
          type="text/css"/>
    <link data-th-href="@{/js/main.js}" href="../static/js/main.js" media="all" rel="stylesheet" type="text/css"/>
    <title>Bar Bidule</title>
</head>

<body>
<!-- import du menu/header-->
<header th:replace="index :: header"/>
<br>
<!-- import logo du Titre-->

<!-- Section page-->
<div class="barBidule">

    <!-- Zone Jeu et jardin-->
    <div class="titre_section">
        <img alt-title="#" class="img_titre_section"
             src="../static/img/lectures_partages.jpg" th:src="@{/img/lectures_partages.jpg}"/>
        <div class="sous_titre_section">
            <h1 id="espace">L'espace de jeux et jardin</h1>
            <br>
            <p>Au Bar Bidule il y a une belle salle de jeux où tu peux jouer à plein de choses : jeux de société,
                de construction, puzzles, dînette, déguisements... </p>
        </div>
    </div>
    <!-- Code permettant de cacher le contenu-->
    <br>
    <div class="spoiler" data-isOuvert="false">
        <input class="boutonAfficher" onclick="this.parentNode.setAttribute('data-isOuvert', true);" type="button"
               value="En savoir plus"/>
        <input class="boutonMasquer" onclick="this.parentNode.setAttribute('data-isOuvert', false);" type="button"
               value="Masquer"/>
        <div class="contenuSpoiler">
            <p>tu peux aussi dessiner, peindre, faire de la pâte à modeler,
                te (faire) maquiller, faire de la musique.<br><br>
                Il y a de la lecture pour tous les goûts, contes, bandes dessinées, magazines... <br><br>
                Et puis tu as même le droit de ne rien faire et de rêvasser, ou encore improviser un spectacle ou un
                concert avec les copains et copines. <br><br>
                Quand il fait beau tu peux jouer dehors dans la cour, et même jardiner. Les enfants de tous âges
                sont les bienvenus, les bébés aussi trouveront de quoi s'occuper !
            </p>
        </div>
    </div>
    <br>
    <hr>
    <br>

    <!-- Zone Restauration-->
    <div class="titre_section">
        <img alt-title="exemple d'assiette" class="img_titre_section" src="../static/img/titre_resto.jpg"
             th:src="@{/img/titre_resto.jpg}"/>
        <div class="sous_titre_section">
            <h1 id="resto">Le bar et resto Bidule</h1>
            <br>
            <p>Le Bar Bidule, c'est aussi un restaurant !!!</p>
        </div>
    </div>
    <br>
    <div class="spoiler" data-isOuvert="false">
        <input class="boutonAfficher" onclick="this.parentNode.setAttribute('data-isOuvert', true);" type="button"
               value="En savoir plus"/>
        <input class="boutonMasquer" onclick="this.parentNode.setAttribute('data-isOuvert', false);" type="button"
               value="Masquer"/>
        <div class="contenuSpoiler">

            <section class="container-restauration">
                <div class="presentation-restauration">
                    <br>
                    <p>Tous les mercredis midis, vous pouvez venir manger entre amis, en famille, entre collègues.
                        Les bénévoles sont aux fourneaux et vous accueillent autour d'un menu végétarien, de saison
                        et
                        concocté à base de produits essentiellement bio et/ou locaux !</p><br>
                    <p>2 formules :</p><br>
                </div>
                <!-- colone de photos sur le coté-->
                <div class="sideimg">


                    <img alt-title="#" class="cote1" src="../static/img/IMG_1255mode2.JPG"
                         th:src="@{/img/IMG_1255mode2.JPG}"/>
                    <img alt-title="#" class="cote2" src="../static/img/IMG_1274mode2.JPG"
                         th:src="@{/img/IMG_1274mode2.JPG}"/>
                    <img alt-title="#" class="cote3" src="../static/img/IMG_1426mode2.JPG"
                         th:src="@{/img/IMG_1426mode2.JPG}"/>
                    <img alt-title="#" class="cote4" src="../static/img/resto_mercredi.jpg"
                         th:src="@{/img/resto_mercredi.jpg}"/>
                </div>
                <!-- menu-->
                <ul class="carte">
                    <li th:class="|carte${formuleDuJourStat.count}|" th:each="formuleDuJour : ${formulesDuJour}">
                        <h3 class="titre_menu" th:text="${formuleDuJour.titreMenu}"/>
                        <br>
                        <p th:text="${formuleDuJour.titre}"/>
                        <br>
                        <p th:text="${formuleDuJour.description}"/>
                        <br>
                        <p th:text="${formuleDuJour.prix}"/>
                </ul>

            </section>
        </div>
    </div>
    <br>
    <hr>
    <br>

    <!-- Les ateliers-->
    <div class="titre_section">
        <img alt-title="#" class="img_titre_section"
             src="../static/img/couture.jpg" th:src="@{/img/couture.jpg}"/>
        <div class="sous_titre_section">
            <h1 id="ateliers">Les ateliers</h1>
            <p>Plus qu'un simple café, au Bar Bidule, tu peux aussi participer à des ateliers en tout
                genre avec ton papa, ta maman, ta nounou, ta mamie!
                Une belle occasion de découvrir de nouvelles activités sans engagement dans la durée.</p>
        </div>
    </div>
    <!-- Code permettant de cacher le contenu-->
    <br>
    <div class="spoiler" data-isOuvert="false">
        <input class="boutonAfficher" onclick="this.parentNode.setAttribute('data-isOuvert', true);" type="button"
               value="En savoir plus"/>
        <input class="boutonMasquer" onclick="this.parentNode.setAttribute('data-isOuvert', false);" type="button"
               value="Masquer"/>
        <div class="contenuSpoiler">
            <ul class="carte">
                <li class="card" th:each="intervenant : ${intervenants}">
                    <a href="#">
                        <!-- Image de l'atelier -->
                        <div class="card-image"><img
                                alt="Orange"
                                src="https://damienflandrin.fr/storage/tutoriel-realiser-une-carte-en-css/card-image.jpg"/></div>
                        <!-- Fin de l'image de l'atelier -->
                        <!-- Corp de la carte -->
                        <div class="card-body">
                            <div class="card-name">
                                <p th:text="${intervenant.name}"/>
                            </div>
                            <br>
                            <div class="card-title">
                                <h3 class="card-title" th:text="${intervenant.atelier1}"/>
                            </div>
                            <br>
                            <br>
                            <div class="card-excerpt">
                                <p class="card-exerpt" th:text="${intervenant.description1}"/>
                            </div>
                            <div class="card-title">
                                <p th:text="${intervenant.atelier2}"/>
                            </div>
                            <div class="card-excerpt">
                                <p th:text="${intervenant.description2}"/>
                            </div>
                            <div class="card-title">
                                <p th:text="${intervenant.atelier3}"/>
                            </div>
                            <div class="card-excerpt">
                                <p th:text="${intervenant.description3}"/>
                            </div>
                            <br>
                            <div class="card-name">
                                <p class="card-name" th:text="${intervenant.prix1}"/>
                                <p class="card-name" th:text="${intervenant.prix2}"/>
                            </div>
                        </div>
                        <!-- Fin du corp de la carte -->
                    </a>
                    <br>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <!-- Les spectacles et concerts-->
    <div class="titre_section">
        <img alt-title="#" class="img_titre_section"
             src="../static/img/concert01.jpg" th:src="@{/img/concert01.jpg}"/>
        <div class="sous_titre_section">
            <h1 id="spectacle">Les spectacles et concerts</h1>
            <p>Au Bar Bidule, tu peux aussi venir voir des spectacles et concerts d'artistes de la région mais pas que !
                Plus d'infos consultables dans la PROG' mensuelle.</p>
        </div>
    </div>
    <!-- Code permettant de cacher le contenu-->
    <br>
    <div class="spoiler" data-isOuvert="false">
        <input class="boutonAfficher" onclick="this.parentNode.setAttribute('data-isOuvert', true);" type="button"
               value="En savoir plus"/>
        <input class="boutonMasquer" onclick="this.parentNode.setAttribute('data-isOuvert', false);" type="button"
               value="Masquer"/>
        <div class="contenuSpoiler">
            <p>Prix libre / chapeau pour les adhérents
                5€ par personne pour les non-adhérents
                sur réservation . <br><br>
                Et si t'as envie de proposer un spectacle, n’hésite pas à nous contacter !
            </p>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <!-- Les anniversaires-->
    <div class="titre_section">
        <img alt-title="#" class="img_titre_section"
             src="../static/img/anniversaire.jpg" th:src="@{/img/anniversaire.jpg}"/>
        <div class="sous_titre_section">
            <h1 id="anniversaires">Les anniversaires</h1>
            <p>Au bar bidule, tu peux aussi venir y fêter ton anniversaire avec ta famille et tes amis !</p>
        </div>
    </div>
    <!-- Code permettant de cacher le contenu-->
    <br>
    <div class="spoiler" data-isOuvert="false">
        <input class="boutonAfficher" onclick="this.parentNode.setAttribute('data-isOuvert', true);" type="button"
               value="En savoir plus"/>
        <input class="boutonMasquer" onclick="this.parentNode.setAttribute('data-isOuvert', false);" type="button"
               value="Masquer"/>
        <div class="contenuSpoiler">
            <section class="anniversaire">
                <p>2 possibilités s'offrent à toi :</p>
                <br>
                <h2>Faire la fête sur les horaires d'ouverture du bar :</h2>
                <br>
                <p>1 sirop par enfant <br>
                    1 gâteau au chocolat confectionné et décoré avec les enfants <br>
                    Cartons d'invitation fournis <br>
                    Maquillage fourni <br>
                    Matériel fourni pour faire un atelier de fabrication d'une carte d'anniversaire <br>
                    Jeux et jouets divers sur place <br>
                    6€ par enfant <br>
                    Si besoin un bénévole peut participer à l'encadrement et l'animation de l'anniversaire. <br>
                    Réservé aux adhérents
                </p><br><br>
                <h2>Faire la fête sur les horaires de fermeture du bar :</h2><br>
                <p>on se met d'accord sur les horaires, on te laisse les clés et tout le matériel du local à
                    disposition pour jouer, cuisiner et fêter ton anniversaire comme il se doit !
                    <br>
                    50€ la mise à disposition du local <br>
                    Réservé aux adhérents
                </p><br>
                <p>vous pouvez télécharger un carton d'invitation <a
                        th:href="@{/documents/carton_invitation.pdf}">ici</a></p>
            </section>
        </div>
    </div>

</div>
<!-- import footer-->


</body>

</html>