<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Le Bar Bidule</title>
    <link data-th-href="@{/css/header.css}" href="../static/css/header.css" media="all" rel="stylesheet"
          type="text/css"/>
    <link data-th-href="@{/css/defaut_text.css}" href="../static/css/defaut_text.css" media="all" rel="stylesheet"
          type="text/css"/>
    <link data-th-href="@{/css/contact.css}" href="../static/css/contact.css" rel="stylesheet">
</head>
<body>

<!-- import du menu/header-->
<header th:replace="index :: header"/>


<!-- formulaire de contact-->
<body>
        <div class="container">
            <div class="innerwrap">
            
                <section class="section1 clearfix">
                    <div class="textcenter">
                        <span class="shtext">Nous contacter</span>
                        <span class="seperator"></span>
                        <h1>Où sommes-nous ?</h1>
                    </div>
                </section>
            
                <section class="section2 clearfix">
                    <div class="col2 column1 first">
                            <iframe allowfullscreen=""
                            frameborder="0" height="450"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2701.25720399675!2d0.6830590155000821!3d47.387414279170706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fcd5c80e56aaab%3A0xe733264c9910e5b7!2sBar%20bidule!5e0!3m2!1sfr!2sfr!4v1579797059275!5m2!1sfr!2sfr"
                            style="border:0;" width="600"></iframe>                    </div>
                    <div class="col2 column2 last">
                        <div class="sec2innercont">
                            <div class="sec2addr">
                                <p>LE BAR BIDULE <br> 64, Rue d'Entraigues <br> 37000 TOURS <br> Les cyclistes sont les bienvenus, un parking à vélo est à votre disposition devant le local. <br>

                                    La première visite est libre puis une adhésion à l'association vous sera demandée. <br>
                                    Pour en savoir plus <a referrerpolicy="http://localhost:8080/cafe/#adherents">les adhérents</a>
                                </p>
                                <p><span class="collig">Téléphone :</span>+33 (0)6 58 05 11 41</p>
                                <p><span class="collig">Email :</span> barbidule@yahoo.com</p>
                                <p>Horaires d'ouverture : mercredi de 10h à 18h, samedi et dimanche de 15h à 18h (susceptibles d'être modifiés pendant les vacances scolaires)
                                </p>
                            </div>
                        </div>
                        <div class="sec2contactform">
                            <h3 class="sec2frmtitle">Une question ? Contactez-nous !</h3>
                            <form action="">
                                <div class="clearfix">
                                    <input class="col2 first" type="text" placeholder="Prénom">
                                    <input class="col2 last" type="text" placeholder="Nom">
                                </div>
                                <div class="clearfix">
                                    <input  class="col2 first" type="Email" placeholder="Email">
                                    <input class="col2 last" type="text" placeholder="Téléphone">
                                </div>
                                <div class="clearfix">
                                    <textarea name="textarea" id="" cols="30" rows="7">Votre message...</textarea>
                                </div>
                                <div class="clearfix"><input type="submit" value="Envoyer"></div>
                            </form>
                        </div>
                </section>
            
            </div>
        </div>
    </body>
<!--Import du footer-->
<footer th:replace="index :: footer"/>
<!--Fin du footer-->
</body>
</html>