<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>MenuAdmin</title>
    <link data-th-href="@{/css/menu.css}" href="../static/css/menu.css" media="all" rel="stylesheet"
          type="text/css"/>
    <link data-th-href="@{/css/defaut_text.css}" href="../static/css/defaut_text.css" media="all" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<h1>Bonjour, vous pouvez ici éditer votre intervenant</h1>
<section class="carte">
    <ul class="carte">
        <li class="card">
            <!-- Corp de la carte -->
            <div class="card-body">
                <div class="card-name">
                    <p th:text="${coordonnee.adresse}"/>
                </div>
                <br>
                <div class="card-title">
                    <h3 class="card-title" th:text="${coordonnee.horaire}"/>
                </div>
                <br>
                <br>
                <div class="card-excerpt">
                    <p class="card-exerpt" th:text="${coordonnee.telephone}"/>
                </div>
            </div>
            <!-- Fin du corp de la carte -->
            <br>
            <hr>
        </li>
    </ul>

    <form class="intervenant" method="post" th:action="@{/admin/coord}" th:object="${coordonnee}">
        <label for="adresse">Nouvelle adresse : </label><br>
        <input id="adresse" th:field=*{adresse} type="text"><br>
        <label for="horaire">Nouvel horaire : </label><br>
        <input id="horaire" th:field=*{horaire} type="text"><br>
        <label for="telephone">Nouveau numéro: </label><br>
        <textarea id="telephone" th:field=*{telephone}></textarea><br>
        <input th:field="*{id}" type="hidden">
        <input type="submit" value="Modifier">
    </form>
</section>
<br>
<a class="bouton" th:href="@{/admin}">Retour</a>
</body>
</html>