<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Le Bar Bidule</title>
    <link data-th-href="@{/css/header.css}" href="../static/css/header.css" media="all"
          rel="stylesheet" type="text/css"/>
    <link data-th-href="@{/css/defaut_text.css}" href="../static/css/defaut_text.css" media="all"
          rel="stylesheet" type="text/css"/>
</head>
<body>
<header th:fragment="header">
    <!--logo-->
    <div class="logo">
        <a href="/index" th:href="@{/}">
            <img alt="logo bar bidule" th:src="@{/img/logo_titre.png}">
            <img alt="logo mais pas que" th:src="@{/img/mais_pas_que.png}">
        </a>
    </div>
    <!--Menu déroulant-->
    <nav>
        <div class="conteneur-nav">
            <label for="mobile">Afficher le menu</label>
            <input id="mobile" role="button" type="checkbox">
            <ul>
                <li class="deroulant"><a th:href="@{/leBarBidule}">Le Bar Bidule &ensp;</a>
                    <ul class="sous">
                        <li><a href="/leBarBidule/#espace">L'espace de jeux/jardin</a></li>
                        <li><a href="/leBarBidule/#resto">Le bar et resto Bidule</a></li>
                        <li><a href="/leBarBidule/#ateliers">Les ateliers</a></li>
                        <li><a href="/leBarBidule/#spectacle">les spectacles et concerts</a></li>
                        <li><a href="/leBarBidule/#anniversaires">les anniversaires</a></li>
                    </ul>
                </li>
                <li class="deroulant"><a th:href="@{/cafe}">Un Café des Enfants &ensp;</a>
                    <ul class="sous">
                        <li><a href="/cafe/#cafe">C'est quoi un Café des Enfants ?</a></li>
                        <li><a href="/cafe/#histoire">L'histoire du Bar Bidule</a></li>
                        <li><a href="/cafe/#adherents">Les adhérents</a></li>
                    </ul>
                </li>
                <li class="deroulant"><a th:href="@{/mais}">Mais pas que... &ensp;</a>
                    <ul class="sous">
                        <li><a href="/mais/#murs">Le Bar Bidule hors les murs</a></li>
                        <li><a href="/mais/#copains">Les copains du Bar Bidule</a></li>
                        <li><a href="/mais/#social">L'action sociale et médico-sociale</a></li>
                    </ul>
                </li>
                <li class="deroulant"><a th:href="@{/contact}">Contactez-nous &ensp;</a>
                    <ul class="sous">
                        <li><a href="#">Formulaire de contact</a></li>
                        <li><a href="#">Plan d'acces</a></li>
                        <li><a href="#">Télephone</a></li>
                        <li><a href="#">Adresse</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<br>

<div class="leBarBidule">
    <h1>Bienvenue au Bar Bidule</h1><br>
    <p>horaires : mercredi 10/18h - samedi et dimanche 15/18h</p><br>
    <!--TODO penser à rendre la modif des horaires possible-->
    <h2>Voici notre programation d'évènements pour le mois</h2><br>
    <p>Affichez la <a href="../static/documents/PROG_BBD_JANV_2020.pdf" th:href="@{/documents/PROG_BBD_JANV_2020.pdf}">ici</a>
    </p>
    <p>Ou téléchargez la <a download="../static/documents/PROG_BBD_JANV_2020.pdf" href="../static/documents/PROG_BBD_JANV_2020.pdf"
                            th:href="@{/documents/prog_A3.jpg}">ici</a></p>
    <p>Actu : un specatcle déjà calé pour février, vous trouverez toutes les infos sur ce lien fb:
        <a href="https://www.facebook.com/events/494146774544780/">Contes de Saint-Valentin 3/10 ans</a>
    </p>
</div>
<footer>
</footer>
</body>
</html>