<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>MenuAdmin</title>
    <link data-th-href="@{/css/menu.css}" href="../static/css/menu.css" media="all" rel="stylesheet"
          type="text/css"/>
    <link data-th-href="@{/css/defaut_text.css}" href="../static/css/defaut_text.css" media="all" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<h1>Bonjour, vous pouvez ici éditer votre intervenant</h1>
<section>
    <ul>
        <li>
            <h3 class="titre_menu" th:text="${intervenant.name}"/>
            <p th:text="${intervenant.atelier1}"/>
            <p th:text="${intervenant.description1}"/>
            <p th:text="${intervenant.atelier2}"/>
            <p th:text="${intervenant.description2}"/>
            <p th:text="${intervenant.atelier3}"/>
            <p th:text="${intervenant.description3}"/>
            <p th:text="${intervenant.prix1}"/>
            <p th:text="${intervenant.prix2}"/>
        </li>
    </ul>

    <form method="post" th:action="@{/admin/intervenant}" th:object="${intervenant}">
        <label for="name">Nom de l'intervenant : </label><br>
        <input id="name" th:field=*{name} type="text"><br>
        <label for="atelier1">Titre de l'atelier 1 : </label><br>
        <input id="atelier1" th:field=*{atelier1} type="text"><br>
        <label for="description1">Description numero 1: </label><br>
        <textarea id="description1" th:field=*{description1}></textarea><br>
        <label for="atelier2">Titre de l'atelier 2 : </label><br>
        <input id="atelier2" th:field=*{atelier2} type="text"><br>
        <label for="description2">Description numero 2: </label><br>
        <textarea id="description2" th:field=*{description2}></textarea><br>
        <label for="atelier3">Titre de l'atelier 3 : </label><br>
        <input id="atelier3" th:field=*{atelier3} type="text"><br>
        <label for="description3">Description numero 3: </label><br>
        <textarea id="description3" th:field=*{description3}></textarea><br>
        <label for="prix1">prix numero 1: </label><br>
        <input id="prix1" th:field=*{prix1} type="text"><br>
        <label for="prix2">prix numero 2: </label><br>
        <input id="prix2" th:field=*{prix2} type="text"><br>
        <input th:field="*{id}" type="hidden">
        <input type="submit" value="Modifier">
    </form>
</section>
<br>
<a class="bouton" th:href="@{/admin/intervenants}">Retour</a>
</body>
</html>