<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link data-th-href="@{/css/restauration.css}" href="../static/css/restauration.css" media="all" rel="stylesheet"
          type="text/css"/>
    <link data-th-href="@{/css/header.css}" href="../static/css/header.css" media="all" rel="stylesheet"
          type="text/css"/>
    <link data-th-href="@{/css/defaut_text.css}" href="../static/css/defaut_text.css" media="all" rel="stylesheet"
          type="text/css"/>
    <link data-th-href="@{/js/main.js}" href="../static/js/main.js" media="all" rel="stylesheet" type="text/css"/>
    <title>Bar Bidule</title>
</head>

<body>
<!-- import du menu/header-->
<header th:replace="index :: header"/>
<br>
<!-- import logo du Titre-->

<!-- Section page-->
<div class="maisPasQue">

    <!-- Zone Jeu et hors les mur-->
    <div class="titre_section">
        <img alt-title="#" class="img_titre_section"
             src="../static/img/lectures_partages.jpg" th:src="@{/img/lectures_partages.jpg}"/>
        <div class="sous_titre_section">
            <h1 id="mur">Le Bar Bidule hors les murs</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid architecto commodi corporis culpa
                esse harum hic labore odit omnis provident quis quo ratione repudiandae, sunt tenetur ut veritatis
                voluptatem.</p>
        </div>
    </div>
    <!-- Code permettant de cacher le contenu-->
    <br>
    <div class="spoiler" data-isOuvert="false">
        <input class="boutonAfficher" onclick="this.parentNode.setAttribute('data-isOuvert', true);" type="button"
               value="En savoir plus"/>
        <input class="boutonMasquer" onclick="this.parentNode.setAttribute('data-isOuvert', false);" type="button"
               value="Masquer"/>
        <div class="contenuSpoiler">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, alias consequatur corporis delectus dolorem
                explicabo, hic incidunt iusto, magni maiores maxime modi nam nobis numquam quis repellat tempore ut
                velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores numquam similique sit suscipit
                vel? Ipsa, laudantium, repellendus. Culpa deleniti exercitationem fugiat illum laborum laudantium
                molestias odit quos temporibus ullam. Quidem.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A, alias consequatur corporis delectus dolorem
                explicabo, hic incidunt iusto, magni maiores maxime modi nam nobis numquam quis repellat tempore ut
                velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores numquam similique sit suscipit
                vel? Ipsa, laudantium, repellendus. Culpa deleniti exercitationem fugiat illum laborum laudantium
                molestias odit quos temporibus ullam. Quidem.
            </p>
        </div>
    </div>
    <br>
    <hr>
    <br>

    <!-- Zone copains du Bar Bidule-->
    <div class="titre_section">
        <img alt-title="exemple d'assiette" class="img_titre_section" src="../static/img/titre_resto.jpg"
             th:src="@{/img/titre_resto.jpg}"/>
        <div class="sous_titre_section">
            <h1 id="copains">Les copains du Bar Bidule</h1>
            <br>
            <p>Le Bar Bidule c'est aussi des copains, des partenaires et un maillon d'une chaîne associative !</p>
        </div>
    </div>
    <br>
    <div class="spoiler" data-isOuvert="false">
        <input class="boutonAfficher" onclick="this.parentNode.setAttribute('data-isOuvert', true);" type="button"
               value="En savoir plus"/>
        <input class="boutonMasquer" onclick="this.parentNode.setAttribute('data-isOuvert', false);" type="button"
               value="Masquer"/>
        <div class="contenuSpoiler">
            <br>
            <p>Ressourcerie La Charpentière https://www.ressourcerie-lacharpentiere.fr/</p>
            <p> la Compagnie des Passe Rêves http://lespassereves.fr/
            </p>
            <p> l'Instrumentarium Ambulant https://www.l-instrumentarium-ambulant.com/
            </p>
            <p> Librairie Libr'enfant www.librenfant.fr
            </p>
            <p> Roulement à Bill : atelier cyclo-militant d'auto-réparation de vélos http://www.roulementabill.org/
            </p>
            <p>Ecole de Loire la Rabouilleuse https://www.larabouilleuse-ecoledeloire.com/</p>
            <p> Collectif Velpeau en Transition : Collectif d’habitants et d’associations oeuvrant pour la transition
                écologique et citoyenne dans le quartier Velpeau à Tours, par des actions concrètes favorables (pas de
                site : lien du Facebook)</p>
            <p> Chorale Blouses Notes https://www.blousesnotes.fr/
            </p>
            <p> Chorale Lume (pas de site : lien du Facebook)
            </p>
            <p> Festival les Kampagn'arts http://www.kampagnarts.fr
            </p>
            <p> Festival les Ilôts Electroniques (pas de site : lien du Facebook)
            </p>
            <p>Festival Autrement Dit (Facebook)</p>
        </div>
    </div>
    <br>
    <hr>
    <br>

    <!-- Mise à disposition du local-->
    <div class="titre_section">
        <img alt-title="#" class="img_titre_section"
             src="../static/img/couture.jpg" th:src="@{/img/couture.jpg}"/>
        <div class="sous_titre_section">
            <h1 id="local">Mise à disposition du local</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid architecto commodi corporis culpa
                esse harum hic labore odit omnis provident quis quo ratione repudiandae, sunt tenetur ut veritatis
                voluptatem.</p>
        </div>
    </div>
    <!-- Code permettant de cacher le contenu-->
    <br>
    <div class="spoiler" data-isOuvert="false">
        <input class="boutonAfficher" onclick="this.parentNode.setAttribute('data-isOuvert', true);" type="button"
               value="En savoir plus"/>
        <input class="boutonMasquer" onclick="this.parentNode.setAttribute('data-isOuvert', false);" type="button"
               value="Masquer"/>
        <div class="contenuSpoiler">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, alias consequatur corporis delectus dolorem
                explicabo, hic incidunt iusto, magni maiores maxime modi nam nobis numquam quis repellat tempore ut
                velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores numquam similique sit suscipit
                vel? Ipsa, laudantium, repellendus. Culpa deleniti exercitationem fugiat illum laborum laudantium
                molestias odit quos temporibus ullam. Quidem.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A, alias consequatur corporis delectus dolorem
                explicabo, hic incidunt iusto, magni maiores maxime modi nam nobis numquam quis repellat tempore ut
                velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores numquam similique sit suscipit
                vel? Ipsa, laudantium, repellendus. Culpa deleniti exercitationem fugiat illum laborum laudantium
                molestias odit quos temporibus ullam. Quidem.
            </p>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <!-- Action sociale et Médico-Sociale-->
    <div class="titre_section">
        <img alt-title="#" class="img_titre_section"
             src="../static/img/couture.jpg" th:src="@{/img/couture.jpg}"/>
        <div class="sous_titre_section">
            <h1 id="social">L'Action sociale et Médico-Sociale</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid architecto commodi corporis culpa
                esse harum hic labore odit omnis provident quis quo ratione repudiandae, sunt tenetur ut veritatis
                voluptatem.</p>
        </div>
    </div>
    <!-- Code permettant de cacher le contenu-->
    <br>
    <div class="spoiler" data-isOuvert="false">
        <input class="boutonAfficher" onclick="this.parentNode.setAttribute('data-isOuvert', true);" type="button"
               value="En savoir plus"/>
        <input class="boutonMasquer" onclick="this.parentNode.setAttribute('data-isOuvert', false);" type="button"
               value="Masquer"/>
        <div class="contenuSpoiler">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, alias consequatur corporis delectus dolorem
                explicabo, hic incidunt iusto, magni maiores maxime modi nam nobis numquam quis repellat tempore ut
                velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores numquam similique sit suscipit
                vel? Ipsa, laudantium, repellendus. Culpa deleniti exercitationem fugiat illum laborum laudantium
                molestias odit quos temporibus ullam. Quidem.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A, alias consequatur corporis delectus dolorem
                explicabo, hic incidunt iusto, magni maiores maxime modi nam nobis numquam quis repellat tempore ut
                velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores numquam similique sit suscipit
                vel? Ipsa, laudantium, repellendus. Culpa deleniti exercitationem fugiat illum laborum laudantium
                molestias odit quos temporibus ullam. Quidem.
            </p>
        </div>
    </div>
</div>
<!-- import footer-->

</body>
</html>